<%-include("header")-%>

<div class="box" id="heading">
    <h1>ENTER UR NEW TODO LIST NAME HERE!</h1>
</div>
<form action="/todo" method="post">
<div class="box">



    <input type="text" name="input_todo">
    <BUTTON type="submit" value="">+</BUTTON>


    </div>
    
    <P><a href="/home">HOME</a></P>
    <P><a href="/todo">ADD CUSTOM LIST</a></P>
 
</form>
</div>
<footer>copyright 2024 @santhoshA69007</footer>
<%-include("footer")-%>